.mini-form {
    background: #c8a9e3;
    /*
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    width: 100%;
    */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
    width: minmax(150px, 450px);
    height: min-content;
    padding: 10px 5px;
    border-radius: 4px;
}

.delete-box {
    width: 100%;
    display: flex;
    justify-content: flex-end;

}

.mini-form button {
    color: black;
}

.mini-form button:hover {
    opacity: 0.5;
}