.button-box {
    display: flex;
    gap: 2rem;
}

.button-box button {
    border-style: none;
    color: lightskyblue;
    background: white;
}

.button-box button:hover {
    color: blue;
}

img {
    height: 20px;
    cursor: pointer;
}

.mini-form {
    background: grey;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: min-content;
    padding: 10px 5px;
    border-radius: 4px;
}