form {
    display: flex;
    flex-direction: column;
}

.summary-box {
    margin: 15px 20px
}

.top-row {
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.top-row-buttons {
    display:flex;
    gap: 12px;
}

button {
    border-style: none;
    background-color:transparent;
    color: lightskyblue;
}

.summary-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}